[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "genstab"]
	path = genstab
	url = https://github.com/cran/genstab
[submodule "minque"]
	path = minque
	url = https://github.com/cran/minque
[submodule "qgtools"]
	path = qgtools
	url = https://github.com/cran/qgtools
